.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class
data/*
Q-SAVI/
experiments/*
*.log
*.pdf
*.png
*.npz
*.pkl
*.txt
*.csv
*.pt
tsne_ver1/
*.pth
loss_histogram/
/c2/jinakim/Drug_Discovery_j/experiments_/final/per_dataset/script/print_sorted_result copy.py
/c2/jinakim/Drug_Discovery_j/experiments_/final/per_dataset/script_